*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    height:100vh;
    background:
        linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%)) 0 0 / 20% 10% no-repeat,
        linear-gradient(to right, blue, blue) 0 100% / 20% 10% no-repeat;
    background-size: 30% 70%, 20% 10%;
    border-radius: 10px 10px 10px 0; /* Apply border radius to the top corners */

}
.container{
    
}