*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    background: linear-gradient(to right, green, green) 0 0 / 20% 10%
    no-repeat,
              linear-gradient(to right, blue, blue) 0 100% / 20% 10% no-repeat;
  /* Use background-size to adjust the height of the bars */
   background-size: 20% 10%, 20% 10%;
}
.container{
    
}